footer {
  padding: 20px;
  background-color: #def2cf;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

footer nav ul li {
  cursor: pointer;
}
