
  main {
    padding: 20px;
    background: #fffff1;
  }
  
  .headers {
    margin-bottom: 20px;
   text-align: center;
  }

  .movie-list {
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    overflow-x: auto;
  }
  
  .movie-item {
    width: 300px;
  }

  .movie-cover {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
  }
  
  footer {
    padding: 20px;
    background-color: #def2cf;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
  }
  
  footer nav ul li {
    cursor: pointer;
  }
  