/* navbar.css */

.HomeNav {
  background-color: #ffd9d3;
  padding: 10px;
  border-bottom: 2px solid #95b47e;
}

.HomeNav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HomeNav-logo-text {
  display: flex;
  align-items: center;
}

.HomeNav-logo {
  height: 40px;
  margin-right: 10px;
}

.HomeNav-text {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.HomeNav-ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center; /* align items vertically */
}

.HomeNav-ul li {
  margin: 0 10px;
}

.HomeNav-ul li a, .logout-button {
  text-decoration: none;
  color: white;
  background-color: #95b47e;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  font-size: medium;
  border: none;
  cursor: pointer;
  display: flex; /* Ensures consistent sizing */
  align-items: center; /* Centers text vertically */
  justify-content: center; /* Centers text horizontally */
  
}

.HomeNav-ul li a:hover, .logout-button:hover {
  color: #7f9866;
}

