body {
  margin: 0;
  overflow-x: hidden;
}

.settings-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  display: flex;
  flex-grow: 1;
}

.content-container {
  flex-grow: 1;
  background-color: #fffff1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  gap: 15px;
  width: 100%;
  max-width: 1200px;
}

footer {
  background-color: #d3f4cf;
  padding: 10px;
  text-align: center;
}

footer .footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

h1 {
  font-size: 31px;
}

.anime-synopsis {
  white-space: pre-wrap;
}

.player-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.video-container {
  text-align: center;
  padding: 15px;
  margin: 5px 0;
  width: 100%;
  max-width: 1080px;
}

.video-title,
.video-subtitle {
  margin: 10px 0;
}

.anime-related-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.details-container {
  width: 100%;
  max-width: 1200px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.dropdown-button {
  border-radius: 5px;
  font-size: 16.5px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.details-content {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  width: 100%;
}

.anime-poster {
  margin-top: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 300px;
}

.anime-about {
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.anime-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 55px;
  gap: 10px;
  width: 100%;
}

.anime-detail-item {
  text-align: center;
}
